
/* padding for bootstrap navbar */
body {
  padding-top: 50px;
  padding-bottom: 40px;
}

/* sidebar */
/* cf. http://www.codingeverything.com/2014/02/BootstrapDocsSideBar.html */

#nav_sidebar {
  margin-top: 40px;
  padding-left: 0px;
  margin-bottom: 20px;
  position: fixed;
}

#nav_sidebar .nav>li>a {
  color: #999;
  padding: 4px 20px;
  font-size: 14px;
  font-weight: 400;
  border-left: 2px solid transparent;
}

#nav_sidebar .nav .nav>li>a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 13px;
}

#nav_sidebar .nav>.active>a {
  color: #2C3E50;
}

#nav_sidebar .nav>.active>a,
#nav_sidebar .nav>li>a:hover,
#nav_sidebar .nav>li>a:focus {
  color: #2C3E50;
  font-weight: bold;
  text-decoration: none;
  background-color: transparent;
  border-left: 2px solid #563d7c;
}

#nav_sidebar .nav ul.nav {
  display: none;
}

#nav_sidebar .nav>.active>ul.nav {
  display: block;
}

/* offset scroll position for anchor links (for fixed navbar)  */
.section h2,
.section h3,
.section h4
{
  padding-top: 75px;
  margin-top: -45px;
}

/* don't use link color in navbar */
.dropdown-menu>li>a {
  color: black;
}

/* some padding for disqus */
#disqus_thread {
  margin-top: 45px;
}

/* Titres */
h1 {
  font-size: 67.5px;
  margin: 42px 0 21px 0;
}

h2, h3, h4 {
  font-weight: bold;
}
h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

/* Encadrés */

div.note, div.info, div.astuce, div.important, div.attention {
  margin: 20px 0;
  padding: 10px;
  border: solid 1px #AAA;
  background-color: #EEE;
}

div.note:before, div.info:before, div.astuce:before, div.important:before, div.attention:before {
  content: attr(class);
  display: block;
  font-weight: bold;
  font-variant: small-caps;
  font-size: 1.1em;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

div.note img, div.info img, div.astuce img, div.important img, div.attention img {
  width:80%;
  margin-left:10%;
  margin-right:10%;
}


/* Regrouper les pre contigus */

pre {
  border-top-left-radius: 4px;
 	border-top-right-radius: 4px;
	border-bottom-left-radius: 0px;
 	border-bottom-right-radius: 0px;
  margin-bottom: 0;
}

pre + pre,
pre + .zero-clipboard + pre {
	border-top: none;
	border-top-left-radius: 0px;
 	border-top-right-radius: 0px;
 	margin-top: 0;
}

pre.last {
	border-bottom-left-radius: 4px;
 	border-bottom-right-radius: 4px;
 	margin-bottom: 10.5px;
}

pre.last:not(.r) {
    background-color: white;
  }

/* Symbole R> dans les pre contenant du code R */
pre.r {padding-left: 2em;}
pre.r:before {
	content: "R>";
	font-family: monospace;
	color: #666;
	margin-left: -1.5em;
  width: 1.5em;
  display: inline-block;
}


/* Figures */

figure {
  border: solid 1px #CCC;
  border-radius: 4px;
  padding: 20px;
  margin: 0 0 10.5px 0;
}

figure img {
  width:80%;
  margin-left:10%;
  margin-right:10%;
}

figcaption {
  font-style: italic;
  text-align: center;
  margin-top: 10.5px;
}

/* Bouton copier */

.zero-clipboard {
  position: relative;
}

.btn-clipboard {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  display: block;
  padding: 5px 8px;
  font-size: 12px;
  color: #767676;
  cursor: pointer;
  background-color: #f8fafa;
  border: 1px solid #CCCCCC;
  border-radius: 0 4px 0 4px;
}

.btn-clipboard:hover {
  color: #fff;
  background-color: #2C3E50;
}

.clipboard {
  display: none;
}
